@media (max-width: 576px) {
    body {
      padding: 10px;
    }
    
    .header {
      width: 100%;
      padding: 10px;
    }
    
    .header__top {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .header__contacts {
      margin-bottom: 10px;
    }
    
    .header__auth {
      margin-top: 10px;
    }
    
    .header__bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    
    .header__manage {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .basket,
    .search {
      margin: 0;
      margin-top: 10px;
    }
    
    .about {
      padding: 20px;
    }
    
    .about__block {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .collections {
      flex-direction: column;
      align-items: center;
    }
    
    .collections__season,
    .catalog,
    .collections-old {
      width: 100%;
      padding: 20px;
    }
    
    .catalog__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .products {
      flex-direction: column;
      gap: 20px;
    }
    
    .product__photo {
      width: 100%;
      padding: 20px;
    }
    
    .catalog_old {
      padding: 20px;
    }
    
    .old__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .old__text {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    
    .novelty__title {
      margin-top: 60px;
      margin-bottom: 20px;
      font-size: 24px;
    }
    
    .novelty__products {
      margin-top: 40px;
    }
    
    .footer__content {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
    
    .form__btn {
      width: 100%;
      margin-top: 20px;
    }
  }
  

  @media (max-width: 576px) {
    body{
        width: 100%;
    }

    button{
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: #969696;
        font-size: 12px;
        height: 100%;
        cursor: pointer;
    }
    
    img{
       cursor: pointer; 
    }
    
    .header{
        width: 100%;
    }
    
    .header__top{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
    }
    
    .header__contacts{
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .contacts__phone{
        width: 16px;
        height: 16px;
        margin-right: 16px;
    }
    
    .contacts__content{
    font-size: 12px;
    }
    
    .vertical-line{
    margin: 0 14px;
    }
    
    .header__auth{
        display: flex;
        align-items: center;
    }
    
    .header__bottom{
        height: 80px;
        background: #0F0F0F;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header__manage{
        display: none;

    }
    
    .manade__btn{
        padding: 0 18px;
        font-size: 14px;
        text-transform: uppercase;
        transition: 600ms;
    }
    
    .manade__btn:hover{
        background: #1F1F1F;
        color: #FFFFFF;
    }
    
    .basket{
        margin-left: 32px;
    }
    
    .search{
        margin-left: 40px;
    }
    
    .about{
        width: 100%;
        background-image: url("../images/Main_bcg.png");
        /* object-position: 0 0; */
        /* height: calc(100vh - 124px); */
        /* background-repeat: no-repeat; */
        /* box-sizing: border-box; */
        /* background-size: cover; */
        /* background-position: 0 0; */
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about__block{
        width: 328px;
        height: 328px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 4px solid #FFF;
        margin-bottom: 80px;
    }
    
    .about__logo{
        font-family: 'Post No Bills Jaffna', sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 76px;
        color: #FFFFFF;
        border-bottom: 2px solid #FFF;
    
    }
    
    .about__city{
        margin-top: 7px;
        color: #FFF;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .about__text{
        text-align: center;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase;
    }

    main{
        width: 100%;
    }
    
    .collections{
        width: 100%;
        display: block;
    }
    
    .collections__season{
        font-family: Playfair Display;
        color: #FFF;
        display: flex;
        flex-direction: column;
        width: 54%;
        padding-top: 88px;
    }
    
    .title__block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .season__title{
        color: #FFF;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 55px;
    }
    
    .title__underline{
        width: 120px;
        border-bottom: 0.5px solid #FFFFFF;
    
    }
    
    .products{
        margin-top: 50px;
        padding: 0 80px;
        display: block;
        gap: 50px;
        justify-content: center;
    }
    
    .product__photo{
        background-color: #191B1C;
        padding: 27px 22px 34px 23px;
        margin-bottom: 25px;
    }
    
    .product__title{
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
    }
    
    .product__price{
        color: #D0D0D0;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .catalog{
        width: 46%;
        background-image: url("../images/season/new_collection.png");
        background-position: center;
        /* height: 730px; */
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-size: cover;
        padding-top: 484px;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .catalog__title{
        font-size: 36px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    
    .catalog__btn{
        height: 47px;
        color: #FFF;
        font-size: 18px;
        font-family: PT Sans;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        margin-top: 30px;
        border: 1px solid #FFF;
        padding: 12px 28px;
    }
    
    .collections-old{
        width: 100%;
        /* height: 600px; */
        display: flex;
    }
    
    .old-img{
        width: 48%;
        /* height: auto; */
        background-image: url("../images/season/old.png");
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-size: cover;
    }
    
    .catalog_old{
        width: 52%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 160px 98px 170px;
    }
    
    .old__title{
        color: #FFF;
        font-size: 36px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    
    .old__text{
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-family: PT Sans;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 40px;
        margin-bottom: 64px;
    }
    
    .novelty{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .novelty__title{
        color: #FFF;
        text-align: center;
        font-size: 36px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-top: 120px;
        margin-bottom: 39.5px;
    }
    
    .novelty__products{
        max-width: 1110px;
        margin-top: 81.5px;
        margin-bottom: 150px;
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
    }
    
    .trim{
        padding: 0 22px 0 23px;
    }
    
    .catalog_all{
        /* height: 325px; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .photo__all{
        margin: 0;
        filter: blur(2px);
    }
    
    .all__btn{
        position: absolute;
        margin: 0;
        z-index: 2;
    }
    
    .posts, .partners{
        background: #0F0F0F;
        display: block;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    .posts__title{
        margin-top: 64px;
        margin-bottom: 36px;
        color: #FFF;
        font-size: 36px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    
    .posts__underline{
        margin-bottom: 57px;
    }
    
    .post{
        display: block;
    }

    .post img{
        width: 100%;;
    }


    
    .post__content{
        padding-top: 53px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .post__title{
        width: 69%;
        color: #FFF;
        font-size: 18px;
        font-family: PT Sans;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
    
    .post__text{
        width: 69%;
        margin-top: 14px;
        margin-bottom: 39px;
        color:#FFF;
        font-size: 14px;
        font-family: PT Sans;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .read__more{
        width: 69%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .post__link{
        margin-left: 5px;
    }
    
    .partners{
        gap: 0;
        height: 900px;
    }
    
    .partners__title{
        margin-top: 90px;
    }
    
    .partners__logo{
        height: 185px;
        margin-top: 66px;
        margin-bottom: 106px;
        display: block;
        align-items: center;
        gap: 30px;
    }
    
    .partners__link{
        height: 100%;
        display: block;
        align-items: center;
    }
    
    .footer{
        height: 800px;
        width: 100%;
        display: block;

        flex-direction: column;
        align-items: center;
    }
    
    .footer__img{
        width: 100%;
        /* height: 450px; */
        background-image: url("../images/footer.png");
        background-position: center;
        display: block;
        justify-content: center;
        padding-top: 80px;
    }
    
    .footer__content{
        display: block;
        width: 100%;
        gap: 30px;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .company, .mailing{
        width: 100%;
    }
    
    .footer__title{
        color: #FFF;
        font-family: Playfair Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    
    .footer__text{
        width: 95%;
        color: #FFF;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        flex-shrink: 0;
    }
    
    .categories{
        width: 100%;
    
    }
    
    .categories__buttons{
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px 0;
    }
    
    .categories__button{
        padding: 10px 20px;
        background-color: #0F0F0F;
        color: #D0D0D0;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    
    input{
        width: 209px;
        height: 42px;
        background-color: rgba(255, 255, 255, 0.40);
        border: none;
        outline: none;
        color: #969696;
        padding: 0 0 0 15px;
        margin-top: 26px;
        box-sizing: border-box;
    }
    
    input::placeholder {
        color: #969696;
    }
    
    .form__btn{
        height: 42px;
        padding: 10px 20px;
        color: #FFF;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.7px;
        background-color: #0F0F0F;
        box-sizing: border-box;
    }
    
    .agreement{
        width: 100%;
        /* height: 50px; */
        display: block;
        align-items: center;
        justify-content: space-between;
    }
    
    .agreement__text{
        color: #D0D0D0;
        font-family: PT Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .agreement__link{
        color: #D0D0D0;
        font-family: PT Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
}